__pycache__/

/DeepLearningApplications/*.zip
/DeepLearningApplications/HW/hw2/CaltechTinySplit/
/DeepLearningApplications/HW/hw2/*.zip
/DeepLearningApplications/HW/hw3/CaltechTiny2/
/DeepLearningApplications/HW/hw4/CaltechTinySplit/
/DeepLearningApplications/HW/hw4/CaltechTinySplit/
/DeepLearningApplications/HW/hw4/*.zip
/DeepLearningApplications/HW/hw5/*.zip

/Algorithms 
PatternRecognition/leaves/
PatternRecognition/processed_images/*
PatternRecognition/__pycache__/
PatternRecognition/pattern_rec/

MachineLearningAnomalyDetection/Dataset/wood/*
MachineLearningAnomalyDetection/.venv/
